* {
    background-color: #312e2b;
}

body {
    margin: 0px;
}

b {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: white;
    margin: 50px;
}

@media (max-height: 250px) {
    .down {
        display: none;
    }
}

.d {
    text-align: center;
    color: #e7e6e5;
}

.down {
    z-index: -1;
    font-size: larger;
    background-color: bisque;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 50px;
    margin: 0px 0px;
}

h4 {
    background-color: bisque;
}

.down>p {
    background-color: bisque;

}

h3 {
    background-color: #BFEA7C;
    position: absolute;
    bottom: 5px;
    margin-left: 40px;
    padding: 10px;
    border-radius: 8%;
}

@media (min-width: 825.5px) {
    .container {
        margin: 0px 0px;
        width: 100vw;
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    h2 {
        margin: 0px;
        background-color: #e7e6e5;
        padding: 20px;
        /*border-top-left-radius: 10%;
        border-top-right-radius: 10%;*/
    }

    ul {
        background-color: #f1f1f1;
        margin-top: 20px;
    }

    li {
        font-size: large;
        background-color: #f1f1f1;
    }

    .block {
        z-index: 4;
        position: relative;
        margin-top: 0px;
        padding-top: 0px;
        background-color: #f1f1f1;
        border-radius: 10%;
        width: 250px;
        height: 400px;
        flex-shrink: 0;
    }

    .gold {}

    .platinum {}

    .diamond {}

}